<div class="top-bar group">
  <nav class="top-bar-wrapper">
    <logo class="top-bar-logo">Logo</logo>
    <nav class="top-bar-links">
      <% if signed_in? %>
        <%= "Hello #{current_user.username}" %>
        <%= button_to "Sign Out!", session_url, method: :delete %>
      <% else %>
        <%= link_to "Sign Up!", new_user_url %>
        <%= link_to "Log In!", new_session_url %>
      <% end %>
    </nav>
  </nav>
</div>
<br>
<div id="content"></div>
<h2>Stuff Goes Here! I promise!</h2>
