.header {
  margin: 0 auto;
  height: 96px;
  padding: 0 15px;
  position: relative;
}

.header-logo {
  width: 200px;
  height: 50px;
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: orange;
  float: left;
  top: 5px;
}

.header-links {
  top: 38px;
  display: block;
  position: absolute;
  margin: 0 auto;
  right: 15px;
}

.header-links-item {
  font-size: 14px;
  padding: 4px 10px 5px;
  background: grey;
  margin: 10px auto;
}
